APP_NAME=LifeEasy
APP_ENV=development

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=lifeeasy
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

MONGO_HOST=mongo
MONGO_PORT=27017

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET_KEY=replace_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30